<!DOCTYPE html>
<html>
<title>Web Page Design</title>
<head>
<h1>Project 3</h1>

<%= javascript_include_tag('calendar.js') %>

</head>

<body>

<p>Time</p>
<select id = "time">
	<option value="12:00AM">12:00AM</option>
	<option value="1:00AM">1:00AM</option>
	<option value="2:00AM">2:00AM</option>
	<option value="3:00AM">3:00AM</option>
	<option value="4:00AM">4:00AM</option>
	<option value="5:00AM">5:00AM</option>
	<option value="6:00AM">6:00AM</option>
	<option value="7:00AM">7:00AM</option>
	<option value="8:00AM">8:00AM</option>
	<option value="9:00AM">9:00AM</option>
	<option value="10:00AM">10:00AM</option>
	<option value="11:00AM">11:00AM</option>
	<option value="12:00PM">12:00PM</option>
	<option value="1:00PM">1:00PM</option>
	<option value="2:00PM">2:00PM</option>
	<option value="3:00PM">3:00PM</option>
	<option value="4:00PM">4:00PM</option>
	<option value="5:00PM">5:00PM</option>
	<option value="6:00PM">6:00PM</option>
	<option value="7:00PM">7:00PM</option>
	<option value="8:00PM">8:00PM</option>
	<option value="9:00PM">9:00PM</option>
	<option value="10:00PM">10:00PM</option>
	<option value="11:00PM">11:00PM</option>
</select> 

<p>Description</p>
<form name="input">
<input type="text" id="descript" required><br>
<input type="button" onclick="add_info()" value="Update">
</form> 

<button type="button" onclick="change_date('<<')"><<</button>
<button type="button" onclick="change_date('<')"><</button>
<button type="button" onclick="change_date('>>')" style='float: right;'>>></button>
<button type="button" onclick="change_date('>')" style='float: right;'>></button>

<div id="calendar"><script language = "javascript">fill_calendar(monthName[monthNum - 1], numDays)</script></div>
</body>
</html>
