<h1>Project 2</h1>
<p>-Install ruby gem 'bootstrap-sass'.</p>
<p>-Add "@import bootstrap" to the csc667.css.scss.</p>
<p>-In addition, added several css code to test on own website.</p>
<p>-Add and commit to heroku.</p>